<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="realsense_d435i" params="sensor_name parent_link *origin image_rate imu_rate">
  
    <xacro:realsense_d435 sensor_name="${sensor_name}" parent_link="${parent_link}" rate="${image_rate}">
      <xacro:insert_block name="origin" />
    </xacro:realsense_d435>

    <!-- imu -->
    <link name="imu_link">
      <pose>0 0 0 ${-pi/2} 0 ${-pi/2}</pose>
      <inertial>
        <mass value="0.0015" />
        <inertia ixx="1e-06" ixy = "0" ixz = "0" iyy="1e-06" iyz= "0" izz="1e-06" />
      </inertial>
    </link>

    <joint name='${sensor_name}_imu_joint' type='fixed'>
      <parent link="${sensor_name}_link" />
      <child link="imu_link" />
      <origin xyz="0.0 0.0 0.0" rpy="${-pi/2} 0.0 ${-pi/2}" />
    </joint>

    <gazebo reference="imu_link">
      <sensor name="imu_frame" type="imu">
        <update_rate>${imu_rate}</update_rate>
        <always_on>true</always_on>
        <visualize>true</visualize>
        <imu>
            <angular_velocity>
                <x>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>2e-4</stddev>
                        <bias_mean>0.0000075</bias_mean>
                        <bias_stddev>0.0000008</bias_stddev>
                    </noise>
                </x>
                <y>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>2e-4</stddev>
                        <bias_mean>0.0000075</bias_mean>
                        <bias_stddev>0.0000008</bias_stddev>
                    </noise>
                </y>
                <z>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>2e-4</stddev>
                        <bias_mean>0.0000075</bias_mean>
                        <bias_stddev>0.0000008</bias_stddev>
                    </noise>
                </z>
            </angular_velocity>
            <linear_acceleration>
                <x>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>1.7e-2</stddev>
                        <bias_mean>0.1</bias_mean>
                        <bias_stddev>0.001</bias_stddev>
                    </noise>
                </x>
                <y>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>1.7e-2</stddev>
                        <bias_mean>0.1</bias_mean>
                        <bias_stddev>0.001</bias_stddev>
                    </noise>
                </y>
                <z>
                    <noise type="gaussian">
                        <mean>0.0</mean>
                        <stddev>1.7e-2</stddev>
                        <bias_mean>0.1</bias_mean>
                        <bias_stddev>0.001</bias_stddev>
                    </noise>
                </z>
            </linear_acceleration>
        </imu>
        <plugin name="imu_plugin" filename="libgazebo_ros_imu_sensor.so">
          <ros>
              <namespace>/</namespace>
              <remapping>~/out:=${sensor_name}/imu</remapping>
          </ros>
          <initial_orientation_as_reference>false</initial_orientation_as_reference>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>